/* Imported Fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@800&display=swap');

/* Universal tag to remove edges and default font */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    scroll-behavior: smooth;
}

#nav{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 200px;
    background: #1e3d59;
    position: fixed;
}

#nav #logo{
    height: 64px;
    width: 200px;
    background: #081724;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav #content a{
    text-decoration: none;
    width: 200px;
    height: 100px;
    align-items: center;
    color: #f5f0e1;
    display: flex;
    font-size: 20px;
    transition-duration: .5s;
}

#nav #content a:hover{
    background: #dbdbdb;
    color: rgb(9, 9, 9);
}

#nav #content a i{
    width: 40px;
    margin-right: 25px;
    padding: 10px;
}

#nav #social{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

#nav #social a{
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 25px;
    color: #dbdbdb;
    text-align: center;
}

section .homepage{
    height: 100vh;
    border: 1px solid white;
    margin-left: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

section .homepage .intro h1{
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 100px;
    text-transform: uppercase;
}

section .homepage .intro h1 span{
    font-family: 'Saira Extra Condensed', sans-serif;
    color: #1e3d59;
}

section .homepage .intro p{
    font-size: 20px;
}

section .homepage .intro .download-btn{
    cursor: pointer;
    margin-top: 50px;
    text-align: center;
    /* margin-left: auto;
    margin-right: auto; */
}

section .homepage .intro .download-btn a{
    border: 10px solid #1e3d59;
    background: #1e3d59;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 25px;
    text-decoration: none;
    color: #dbdbdb;
}

section .homepage .intro .download-btn a i{
    margin-right: 10px;
}