/* Imported Fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    scroll-behavior: smooth;
}

body {
    background: rgb(240, 240, 240);
}

#nav{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 200px;
    background: #1e3d59;
    position: fixed;
}

#nav #logo{
    height: 64px;
    width: 200px;
    background: #081724;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav #content a{
    text-decoration: none;
    width: 200px;
    height: 100px;
    align-items: center;
    color: #f5f0e1;
    display: flex;
    font-size: 20px;
    transition-duration: .5s;
}

#nav #content a:hover{
    background: #dbdbdb;
    color: rgb(9, 9, 9);
}

#nav #content a i{
    width: 40px;
    margin-right: 25px;
    padding: 10px;
}

#nav #social{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

#nav #social a{
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 25px;
    color: #dbdbdb;
    text-align: center;
}

section .homepage{
    height: 100vh;
    margin-left: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

section .homepage .intro h1{
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 100px;
    text-transform: uppercase;
}

section .homepage .intro h1 span{
    font-family: 'Saira Extra Condensed', sans-serif;
    color: #1e3d59;
}

section .homepage .intro p{
    font-size: 20px;
}

section .homepage .intro .download-btn{
    cursor: pointer;
    margin-top: 50px;
    text-align: center;
}

section .homepage .intro .download-btn a{
    border: 10px solid #1e3d59;
    background: #1e3d59;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 25px;
    text-decoration: none;
    color: #dbdbdb;
}

section .homepage .intro .download-btn a i{
    margin-right: 10px;
}

section .containerOne{
    height: 100vh;
    margin-left: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

section .containerOne .textOne h1 {
    text-align: center;
    font-size: 53px;
    margin-bottom: 0px;
    margin-top: 30px;
}

section .containerOne .textOne p {
    text-align: left;
    width: 550px;
    margin: 10px 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

section .containerOne .textOne span {
    color: #1e3d59;
    font-weight: 1000;
}

.containerTwo{
    height: 100vh;
    margin-left: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filterDiv {
    width: 100px;
    text-align: center;
    margin: 2px;
    display: none;
}

.show {
    display: block;
}

#myBtnContainer {
    display: flex;
    justify-content: center;
}

#myBtnContainer button{
    color: white;
    margin-right: 30px;
}

.container {    
    display: flex;
    justify-content: center;
}

.container .filterDiv{
    margin-top: 50px;
    margin-right: 30px;
} 

.container img{
    padding: 5px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    background: white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #1e3d59;
    border-radius: 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: #5c91bb;
}

.btn.active {
    background-color: #666;
    color: white;
}

.containerThree{
    margin-left: 200px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.containerThree .card{
    width: 300px;
    background-color: white;
    margin: 45px;
    border: 1px solid rgb(37, 37, 37);
    border-radius: 30px;
    text-align: center;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.containerThree .card p{
    text-align: left;
    font-size: 15px;
}

.containerThree .card .content{
    padding: 10px;
}

.containerThree .card .content a{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background-color: #1e3d59;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    margin: 20px 0 0 0;
}

.containerThree .card:hover{
    transition-duration: .5s;
    margin-top: -30px;
}

.img img{
    border-radius: 30px 30px 0 0;
    width: 100%;
    height: 150px;
}

.containerFour {
    height: 100vh;
    margin: 0 0 100px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imageSchool img {
    width: 800px;
}

.textTwo h1 {
    text-align: center;
    margin-bottom: 0px;
}

.textTwo span {
    color: green;
    font-weight: bold;
}

.textTwo p {
    text-align: left;
    width: 1000px;
    margin: 10px 0px;
    }

.textTwo a {
    color: green;
    font-weight: bold;
}

footer {
    margin-left: 200px;
    padding: 15px;
    background-color: #0f2437;
    color: white;
    text-align: center;
}